- name: Install and configure Docker on Amazon Linux 2
  hosts: web
  become: yes

  tasks:

    - name: Update all packages
      ansible.builtin.yum:
        name: "*"
        state: latest

    - name: Install Docker
      ansible.builtin.yum:
        name: docker
        state: present

    - name: Start Docker service
      ansible.builtin.service:
        name: docker
        state: started

    - name: Enable Docker on boot
      ansible.builtin.service:
        name: docker
        enabled: yes

    - name: Add ec2-user to docker group
      ansible.builtin.user:
        name: ec2-user
        groups: docker
        append: yes
